In [21]:
import pandas as pd

In [78]:
dist = pd.read_csv('Book1.csv')

cols = list(dist.columns)
cols[0] = 'age'
cols[1] = '$0 to $5,000'
#cols[-1] = '200000 to 300000'
dist.columns = cols
dist.columns = dist.columns.str.replace(',','').str.replace(' ', '').str.replace('$', '', regex=False).str.replace('to', ' to ').str.replace('andover', ' and over')

dist = dist.set_index('age')
dist.index = ( dist.index.str.replace('.', '', regex=False).str.replace('years', '').str
                     .replace(' ', '').str.replace('to', ' to ').str.replace('andover', ' and over') )

cats = []
freqs = []
def r_int(s):
    try:
        return int(s)
    except:
        return int(s.replace(',',''))
    
for age in dist.index:
    for income in dist.columns:
        cats.append({'age':age, 'income':income})
        freqs.append(r_int(dist.loc[age, income]))

In [79]:
str(cats)

"[{'age': '15 to 24', 'income': '0 to 5000'}, {'age': '15 to 24', 'income': '5000 to 9999'}, {'age': '15 to 24', 'income': '10000 to 14999'}, {'age': '15 to 24', 'income': '15000 to 19999'}, {'age': '15 to 24', 'income': '20000 to 24999'}, {'age': '15 to 24', 'income': '25000 to 29999'}, {'age': '15 to 24', 'income': '30000 to 34999'}, {'age': '15 to 24', 'income': '35000 to 39999'}, {'age': '15 to 24', 'income': '40000 to 44999'}, {'age': '15 to 24', 'income': '45000 to 49999'}, {'age': '15 to 24', 'income': '50000 to 54999'}, {'age': '15 to 24', 'income': '55000 to 59999'}, {'age': '15 to 24', 'income': '60000 to 64999'}, {'age': '15 to 24', 'income': '65000 to 69999'}, {'age': '15 to 24', 'income': '70000 to 74999'}, {'age': '15 to 24', 'income': '75000 to 79999'}, {'age': '15 to 24', 'income': '80000 to 84999'}, {'age': '15 to 24', 'income': '85000 to 89999'}, {'age': '15 to 24', 'income': '90000 to 94999'}, {'age': '15 to 24', 'income': '95000 to 99999'}, {'age': '15 to 24', 'income': '100000 to 104999'}, {'age': '15 to 24', 'income': '105000 to 109999'}, {'age': '15 to 24', 'income': '110000 to 114999'}, {'age': '15 to 24', 'income': '115000 to 119999'}, {'age': '15 to 24', 'income': '120000 to 124999'}, {'age': '15 to 24', 'income': '125000 to 129999'}, {'age': '15 to 24', 'income': '130000 to 134999'}, {'age': '15 to 24', 'income': '135000 to 139999'}, {'age': '15 to 24', 'income': '140000 to 144999'}, {'age': '15 to 24', 'income': '145000 to 149999'}, {'age': '15 to 24', 'income': '150000 to 154999'}, {'age': '15 to 24', 'income': '155000 to 159999'}, {'age': '15 to 24', 'income': '160000 to 164999'}, {'age': '15 to 24', 'income': '165000 to 169999'}, {'age': '15 to 24', 'income': '170000 to 174999'}, {'age': '15 to 24', 'income': '175000 to 179999'}, {'age': '15 to 24', 'income': '180000 to 184999'}, {'age': '15 to 24', 'income': '185000 to 189999'}, {'age': '15 to 24', 'income': '190000 to 194999'}, {'age': '15 to 24', 'income': '195000 to 199999'}, {'age': '15 to 24', 'income': '200000 and over'}, {'age': '25 to 34', 'income': '0 to 5000'}, {'age': '25 to 34', 'income': '5000 to 9999'}, {'age': '25 to 34', 'income': '10000 to 14999'}, {'age': '25 to 34', 'income': '15000 to 19999'}, {'age': '25 to 34', 'income': '20000 to 24999'}, {'age': '25 to 34', 'income': '25000 to 29999'}, {'age': '25 to 34', 'income': '30000 to 34999'}, {'age': '25 to 34', 'income': '35000 to 39999'}, {'age': '25 to 34', 'income': '40000 to 44999'}, {'age': '25 to 34', 'income': '45000 to 49999'}, {'age': '25 to 34', 'income': '50000 to 54999'}, {'age': '25 to 34', 'income': '55000 to 59999'}, {'age': '25 to 34', 'income': '60000 to 64999'}, {'age': '25 to 34', 'income': '65000 to 69999'}, {'age': '25 to 34', 'income': '70000 to 74999'}, {'age': '25 to 34', 'income': '75000 to 79999'}, {'age': '25 to 34', 'income': '80000 to 84999'}, {'age': '25 to 34', 'income': '85000 to 89999'}, {'age': '25 to 34', 'income': '90000 to 94999'}, {'age': '25 to 34', 'income': '95000 to 99999'}, {'age': '25 to 34', 'income': '100000 to 104999'}, {'age': '25 to 34', 'income': '105000 to 109999'}, {'age': '25 to 34', 'income': '110000 to 114999'}, {'age': '25 to 34', 'income': '115000 to 119999'}, {'age': '25 to 34', 'income': '120000 to 124999'}, {'age': '25 to 34', 'income': '125000 to 129999'}, {'age': '25 to 34', 'income': '130000 to 134999'}, {'age': '25 to 34', 'income': '135000 to 139999'}, {'age': '25 to 34', 'income': '140000 to 144999'}, {'age': '25 to 34', 'income': '145000 to 149999'}, {'age': '25 to 34', 'income': '150000 to 154999'}, {'age': '25 to 34', 'income': '155000 to 159999'}, {'age': '25 to 34', 'income': '160000 to 164999'}, {'age': '25 to 34', 'income': '165000 to 169999'}, {'age': '25 to 34', 'income': '170000 to 174999'}, {'age': '25 to 34', 'income': '175000 to 179999'}, {'age': '25 to 34', 'income': '180000 to 184999'}, {'age': '25 to 34', 'income': '185000 to 189999'}, {'age': '25 to 34', 'income': '190000 to 194999'}, {'age': '25 to 34', 'income': '195000 to 199999'}, {'age': '25 to 34', 'income': '200000 and over'}, {'age': '35 to 44', 'income': '0 to 5000'}, {'age': '35 to 44', 'income': '5000 to 9999'}, {'age': '35 to 44', 'income': '10000 to 14999'}, {'age': '35 to 44', 'income': '15000 to 19999'}, {'age': '35 to 44', 'income': '20000 to 24999'}, {'age': '35 to 44', 'income': '25000 to 29999'}, {'age': '35 to 44', 'income': '30000 to 34999'}, {'age': '35 to 44', 'income': '35000 to 39999'}, {'age': '35 to 44', 'income': '40000 to 44999'}, {'age': '35 to 44', 'income': '45000 to 49999'}, {'age': '35 to 44', 'income': '50000 to 54999'}, {'age': '35 to 44', 'income': '55000 to 59999'}, {'age': '35 to 44', 'income': '60000 to 64999'}, {'age': '35 to 44', 'income': '65000 to 69999'}, {'age': '35 to 44', 'income': '70000 to 74999'}, {'age': '35 to 44', 'income': '75000 to 79999'}, {'age': '35 to 44', 'income': '80000 to 84999'}, {'age': '35 to 44', 'income': '85000 to 89999'}, {'age': '35 to 44', 'income': '90000 to 94999'}, {'age': '35 to 44', 'income': '95000 to 99999'}, {'age': '35 to 44', 'income': '100000 to 104999'}, {'age': '35 to 44', 'income': '105000 to 109999'}, {'age': '35 to 44', 'income': '110000 to 114999'}, {'age': '35 to 44', 'income': '115000 to 119999'}, {'age': '35 to 44', 'income': '120000 to 124999'}, {'age': '35 to 44', 'income': '125000 to 129999'}, {'age': '35 to 44', 'income': '130000 to 134999'}, {'age': '35 to 44', 'income': '135000 to 139999'}, {'age': '35 to 44', 'income': '140000 to 144999'}, {'age': '35 to 44', 'income': '145000 to 149999'}, {'age': '35 to 44', 'income': '150000 to 154999'}, {'age': '35 to 44', 'income': '155000 to 159999'}, {'age': '35 to 44', 'income': '160000 to 164999'}, {'age': '35 to 44', 'income': '165000 to 169999'}, {'age': '35 to 44', 'income': '170000 to 174999'}, {'age': '35 to 44', 'income': '175000 to 179999'}, {'age': '35 to 44', 'income': '180000 to 184999'}, {'age': '35 to 44', 'income': '185000 to 189999'}, {'age': '35 to 44', 'income': '190000 to 194999'}, {'age': '35 to 44', 'income': '195000 to 199999'}, {'age': '35 to 44', 'income': '200000 and over'}, {'age': '45 to 54', 'income': '0 to 5000'}, {'age': '45 to 54', 'income': '5000 to 9999'}, {'age': '45 to 54', 'income': '10000 to 14999'}, {'age': '45 to 54', 'income': '15000 to 19999'}, {'age': '45 to 54', 'income': '20000 to 24999'}, {'age': '45 to 54', 'income': '25000 to 29999'}, {'age': '45 to 54', 'income': '30000 to 34999'}, {'age': '45 to 54', 'income': '35000 to 39999'}, {'age': '45 to 54', 'income': '40000 to 44999'}, {'age': '45 to 54', 'income': '45000 to 49999'}, {'age': '45 to 54', 'income': '50000 to 54999'}, {'age': '45 to 54', 'income': '55000 to 59999'}, {'age': '45 to 54', 'income': '60000 to 64999'}, {'age': '45 to 54', 'income': '65000 to 69999'}, {'age': '45 to 54', 'income': '70000 to 74999'}, {'age': '45 to 54', 'income': '75000 to 79999'}, {'age': '45 to 54', 'income': '80000 to 84999'}, {'age': '45 to 54', 'income': '85000 to 89999'}, {'age': '45 to 54', 'income': '90000 to 94999'}, {'age': '45 to 54', 'income': '95000 to 99999'}, {'age': '45 to 54', 'income': '100000 to 104999'}, {'age': '45 to 54', 'income': '105000 to 109999'}, {'age': '45 to 54', 'income': '110000 to 114999'}, {'age': '45 to 54', 'income': '115000 to 119999'}, {'age': '45 to 54', 'income': '120000 to 124999'}, {'age': '45 to 54', 'income': '125000 to 129999'}, {'age': '45 to 54', 'income': '130000 to 134999'}, {'age': '45 to 54', 'income': '135000 to 139999'}, {'age': '45 to 54', 'income': '140000 to 144999'}, {'age': '45 to 54', 'income': '145000 to 149999'}, {'age': '45 to 54', 'income': '150000 to 154999'}, {'age': '45 to 54', 'income': '155000 to 159999'}, {'age': '45 to 54', 'income': '160000 to 164999'}, {'age': '45 to 54', 'income': '165000 to 169999'}, {'age': '45 to 54', 'income': '170000 to 174999'}, {'age': '45 to 54', 'income': '175000 to 179999'}, {'age': '45 to 54', 'income': '180000 to 184999'}, {'age': '45 to 54', 'income': '185000 to 189999'}, {'age': '45 to 54', 'income': '190000 to 194999'}, {'age': '45 to 54', 'income': '195000 to 199999'}, {'age': '45 to 54', 'income': '200000 and over'}, {'age': '55 to 64', 'income': '0 to 5000'}, {'age': '55 to 64', 'income': '5000 to 9999'}, {'age': '55 to 64', 'income': '10000 to 14999'}, {'age': '55 to 64', 'income': '15000 to 19999'}, {'age': '55 to 64', 'income': '20000 to 24999'}, {'age': '55 to 64', 'income': '25000 to 29999'}, {'age': '55 to 64', 'income': '30000 to 34999'}, {'age': '55 to 64', 'income': '35000 to 39999'}, {'age': '55 to 64', 'income': '40000 to 44999'}, {'age': '55 to 64', 'income': '45000 to 49999'}, {'age': '55 to 64', 'income': '50000 to 54999'}, {'age': '55 to 64', 'income': '55000 to 59999'}, {'age': '55 to 64', 'income': '60000 to 64999'}, {'age': '55 to 64', 'income': '65000 to 69999'}, {'age': '55 to 64', 'income': '70000 to 74999'}, {'age': '55 to 64', 'income': '75000 to 79999'}, {'age': '55 to 64', 'income': '80000 to 84999'}, {'age': '55 to 64', 'income': '85000 to 89999'}, {'age': '55 to 64', 'income': '90000 to 94999'}, {'age': '55 to 64', 'income': '95000 to 99999'}, {'age': '55 to 64', 'income': '100000 to 104999'}, {'age': '55 to 64', 'income': '105000 to 109999'}, {'age': '55 to 64', 'income': '110000 to 114999'}, {'age': '55 to 64', 'income': '115000 to 119999'}, {'age': '55 to 64', 'income': '120000 to 124999'}, {'age': '55 to 64', 'income': '125000 to 129999'}, {'age': '55 to 64', 'income': '130000 to 134999'}, {'age': '55 to 64', 'income': '135000 to 139999'}, {'age': '55 to 64', 'income': '140000 to 144999'}, {'age': '55 to 64', 'income': '145000 to 149999'}, {'age': '55 to 64', 'income': '150000 to 154999'}, {'age': '55 to 64', 'income': '155000 to 159999'}, {'age': '55 to 64', 'income': '160000 to 164999'}, {'age': '55 to 64', 'income': '165000 to 169999'}, {'age': '55 to 64', 'income': '170000 to 174999'}, {'age': '55 to 64', 'income': '175000 to 179999'}, {'age': '55 to 64', 'income': '180000 to 184999'}, {'age': '55 to 64', 'income': '185000 to 189999'}, {'age': '55 to 64', 'income': '190000 to 194999'}, {'age': '55 to 64', 'income': '195000 to 199999'}, {'age': '55 to 64', 'income': '200000 and over'}, {'age': '65 to 74', 'income': '0 to 5000'}, {'age': '65 to 74', 'income': '5000 to 9999'}, {'age': '65 to 74', 'income': '10000 to 14999'}, {'age': '65 to 74', 'income': '15000 to 19999'}, {'age': '65 to 74', 'income': '20000 to 24999'}, {'age': '65 to 74', 'income': '25000 to 29999'}, {'age': '65 to 74', 'income': '30000 to 34999'}, {'age': '65 to 74', 'income': '35000 to 39999'}, {'age': '65 to 74', 'income': '40000 to 44999'}, {'age': '65 to 74', 'income': '45000 to 49999'}, {'age': '65 to 74', 'income': '50000 to 54999'}, {'age': '65 to 74', 'income': '55000 to 59999'}, {'age': '65 to 74', 'income': '60000 to 64999'}, {'age': '65 to 74', 'income': '65000 to 69999'}, {'age': '65 to 74', 'income': '70000 to 74999'}, {'age': '65 to 74', 'income': '75000 to 79999'}, {'age': '65 to 74', 'income': '80000 to 84999'}, {'age': '65 to 74', 'income': '85000 to 89999'}, {'age': '65 to 74', 'income': '90000 to 94999'}, {'age': '65 to 74', 'income': '95000 to 99999'}, {'age': '65 to 74', 'income': '100000 to 104999'}, {'age': '65 to 74', 'income': '105000 to 109999'}, {'age': '65 to 74', 'income': '110000 to 114999'}, {'age': '65 to 74', 'income': '115000 to 119999'}, {'age': '65 to 74', 'income': '120000 to 124999'}, {'age': '65 to 74', 'income': '125000 to 129999'}, {'age': '65 to 74', 'income': '130000 to 134999'}, {'age': '65 to 74', 'income': '135000 to 139999'}, {'age': '65 to 74', 'income': '140000 to 144999'}, {'age': '65 to 74', 'income': '145000 to 149999'}, {'age': '65 to 74', 'income': '150000 to 154999'}, {'age': '65 to 74', 'income': '155000 to 159999'}, {'age': '65 to 74', 'income': '160000 to 164999'}, {'age': '65 to 74', 'income': '165000 to 169999'}, {'age': '65 to 74', 'income': '170000 to 174999'}, {'age': '65 to 74', 'income': '175000 to 179999'}, {'age': '65 to 74', 'income': '180000 to 184999'}, {'age': '65 to 74', 'income': '185000 to 189999'}, {'age': '65 to 74', 'income': '190000 to 194999'}, {'age': '65 to 74', 'income': '195000 to 199999'}, {'age': '65 to 74', 'income': '200000 and over'}, {'age': '75 and over', 'income': '0 to 5000'}, {'age': '75 and over', 'income': '5000 to 9999'}, {'age': '75 and over', 'income': '10000 to 14999'}, {'age': '75 and over', 'income': '15000 to 19999'}, {'age': '75 and over', 'income': '20000 to 24999'}, {'age': '75 and over', 'income': '25000 to 29999'}, {'age': '75 and over', 'income': '30000 to 34999'}, {'age': '75 and over', 'income': '35000 to 39999'}, {'age': '75 and over', 'income': '40000 to 44999'}, {'age': '75 and over', 'income': '45000 to 49999'}, {'age': '75 and over', 'income': '50000 to 54999'}, {'age': '75 and over', 'income': '55000 to 59999'}, {'age': '75 and over', 'income': '60000 to 64999'}, {'age': '75 and over', 'income': '65000 to 69999'}, {'age': '75 and over', 'income': '70000 to 74999'}, {'age': '75 and over', 'income': '75000 to 79999'}, {'age': '75 and over', 'income': '80000 to 84999'}, {'age': '75 and over', 'income': '85000 to 89999'}, {'age': '75 and over', 'income': '90000 to 94999'}, {'age': '75 and over', 'income': '95000 to 99999'}, {'age': '75 and over', 'income': '100000 to 104999'}, {'age': '75 and over', 'income': '105000 to 109999'}, {'age': '75 and over', 'income': '110000 to 114999'}, {'age': '75 and over', 'income': '115000 to 119999'}, {'age': '75 and over', 'income': '120000 to 124999'}, {'age': '75 and over', 'income': '125000 to 129999'}, {'age': '75 and over', 'income': '130000 to 134999'}, {'age': '75 and over', 'income': '135000 to 139999'}, {'age': '75 and over', 'income': '140000 to 144999'}, {'age': '75 and over', 'income': '145000 to 149999'}, {'age': '75 and over', 'income': '150000 to 154999'}, {'age': '75 and over', 'income': '155000 to 159999'}, {'age': '75 and over', 'income': '160000 to 164999'}, {'age': '75 and over', 'income': '165000 to 169999'}, {'age': '75 and over', 'income': '170000 to 174999'}, {'age': '75 and over', 'income': '175000 to 179999'}, {'age': '75 and over', 'income': '180000 to 184999'}, {'age': '75 and over', 'income': '185000 to 189999'}, {'age': '75 and over', 'income': '190000 to 194999'}, {'age': '75 and over', 'income': '195000 to 199999'}, {'age': '75 and over', 'income': '200000 and over'}]"

In [51]:
dist

,0to5000,5000to9999,10000to14999,15000to19999,20000to24999,25000to29999,30000to34999,35000to39999,40000to44999,45000to49999,...,155000to159999,160000to164999,165000to169999,170000to174999,175000to179999,180000to184999,185000to189999,190000to194999,195000to199999,200000to300000
age,,,,,,,,,,,,,,,,,,,,,
15to24,348,183,208,284,287,321,358,327,307,276,...,28,49,14,12,17,18,5,6,7,117
25to34,619,368,441,523,755,690,794,874,883,806,...,217,166,178,186,163,157,108,128,96,"1,516"
35to44,598,376,471,472,572,597,763,754,746,689,...,243,279,170,252,223,233,170,169,123,"3,042"
45to54,581,378,601,572,630,544,604,653,653,605,...,287,310,241,220,201,211,201,166,196,"3,571"
55to64,807,699,"1,037",973,906,823,902,861,852,683,...,251,216,189,252,218,203,146,224,154,"3,134"
65to74,643,465,"1,086","1,249","1,189","1,091","1,014",944,932,951,...,125,167,147,150,104,96,81,104,77,"1,422"
75to85,614,457,"1,265","1,596","1,269","1,120",893,873,728,675,...,69,64,55,38,53,23,44,51,42,517

In [46]:
dist.columns.str.replace(',','').str.replace(' ', '').str.replace('$', '', regex=False)

Index(['0to5000', '5000to9999', '10000to14999', '15000to19999', '20000to24999',
       '25000to29999', '30000to34999', '35000to39999', '40000to44999',
       '45000to49999', '50000to54999', '55000to59999', '60000to64999',
       '65000to69999', '70000to74999', '75000to79999', '80000to84999',
       '85000to89999', '90000to94999', '95000to99999', '100000to104999',
       '105000to109999', '110000to114999', '115000to119999', '120000to124999',
       '125000to129999', '130000to134999', '135000to139999', '140000to144999',
       '145000to149999', '150000to154999', '155000to159999', '160000to164999',
       '165000to169999', '170000to174999', '175000to179999', '180000to184999',
       '185000to189999', '190000to194999', '195000to199999', '200000andover'],
      dtype='object')

In [2]:
import models as m
import numpy as np
import simulate_static
from tqdm import tqdm

In [3]:
m.create_db()

In [4]:
db = m.Session()

In [16]:
K = 12
game = m.Game(name='Test Game', seed=123, n_days=30*K*2, n_days_p0=30*K, n_authors=50, n_users=1000)

In [18]:
db.add(game)
db.commit()

In [6]:
TOPIC_NAMES = ['Opinion', 'Politics', 'World Events', 'Business', 'Technology', 'Arts & Culture', 'Sports', 'Health', 'Home', 'Travel', 'Fashion', 'Food']
TOPIC_FREQS = [0.1, 0.1, 0.1, 0.1, 0.08, 0.08, 0.08, 0.08, 0.08, 0.07, 0.07, 0.06]

topic_affinities = np.ones(len(TOPIC_NAMES))*0.2

In [7]:
        # Create the topics
        # -----------------
        print('Generating topics')
        
        for t_name, t_freq in zip(TOPIC_NAMES, TOPIC_FREQS):
            game.topics.append(m.Topic(name=t_name, freq=t_freq, game=game))
        
        db.commit()
        
        # Create the authors
        # ------------------
        print('Generating authors')
        
        for a in range(game.n_authors):
            author =  m.Author(name    = simulate_static.author_name(game),
                               quality = simulate_static.author_quality(game))
            game.authors.append(author)
            
            # Add author expertise for every topic
            for t in game.topics:
                author.topic_expertises.append(m.AuthorTopic(topic=t))
            
            simulate_static.add_author_expertises(author, game)
                    
        # Add author productivities
        simulate_static.add_author_productivities(game)
        
        db.commit()
        
        # Create the events
        # -----------------
        print('Generating events')
        
        for day in tqdm(range(game.n_days)):
            n_events = simulate_static.events_per_day(game)
            
            for _ in range(n_events):
                event = m.Event(start     = day,
                                intensity = simulate_static.event_intensity(game))
                game.events.append(event)
                
                # Add topic relevance for each topic
                for t in game.topics:
                    event.topic_relevances.append(m.EventTopic(topic=t))
                
                simulate_static.add_event_relevances(event, game)
        
        db.commit()
        
        # Create the articles
        # -------------------
        print('Generating articles')
        
        for day in tqdm(range(game.n_days)):
            # Find the articles that will be published
            articles = [simulate_static.event_articles(event, day)
                                                for event in game.events]
            
            # Simulate the articles
            game.articles.extend([simulate_static.article(i)
                                        for i in articles if i is not None])
            
        db.commit()

Generating topics
Generating authors
Generating events

100%|███████████████████████████████████████████████████████████████████████████████| 720/720 [00:06<00:00, 109.91it/s]

Generating articles

  0%|                                                                                          | 0/720 [00:00<?, ?it/s]C:\Users\crg2133\Documents\GitHub\BA2-Game\simulate_static.py:133: RuntimeWarning: divide by zero encountered in double_scalars
  time_effect = np.exp(-(day - event.start)/ (-4/np.log(event.intensity)))
100%|████████████████████████████████████████████████████████████████████████████████| 720/720 [02:55<00:00,  4.11it/s]

In [16]:
game.articles[5].topic.name

'Business'

# Raw

In [1]:
import sqlalchemy as sa
import sqlalchemy.orm as sa_orm

engine          = sa.create_engine('sqlite:///a.db')
Session         = sa_orm.sessionmaker(engine)

mapper_registry = sa_orm.registry()
Base            = mapper_registry.generate_base()

In [2]:
class A(Base):
    __tablename__ = 'A'
    
    id = sa.Column(sa.Integer, primary_key=True)
    
    bs = sa_orm.relationship('B')

In [3]:
class B(Base):
    __tablename__ = 'B'
    
    id = sa.Column(sa.Integer, primary_key=True)

    name = sa.Column(sa.String(50), nullable=False)
    
    A_id = sa.Column(sa.ForeignKey('A.id'))

In [4]:
mapper_registry.metadata.drop_all(engine)
mapper_registry.metadata.create_all(engine)

In [5]:
db = Session()

a = A()

db.add(a)

#a.bs.extend([B(), B(), B()])

b1 = B(A_id = 1, name='hello')
b2 = B(A_id = 1, name='hello')
b3 = B(A_id = 1, name='hello')

db.add(b1)
db.add(b2)
db.add(b3)

print(len(a.bs))

for bb in a.bs:
    pass
    bb.name = 'hello'

db.commit()

print(len(a.bs))

0
3

In [6]:
db.get(B, 1).A_id

1

In [9]:
db.flush()

In [20]:
db.close()

In [21]:
db = Session()

In [5]:
db = Session()
a = A()
db.add(a)
db.flush()

IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: A.name
[SQL: INSERT INTO "A" (name) VALUES (?)]
[parameters: (None,)]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [6]:
db.add(B(aa=a))
db.commit()

In [24]:
class K():
    hello = 5
    kk = sa.Column(sa.Integer)
    
    def blah(self):
        print('la')

In [25]:
k = K()

In [27]:
type(k.kk)

sqlalchemy.sql.schema.Column

In [31]:
len(K.kk)

TypeError: object of type 'Column' has no len()

In [28]:
k.kk = 'hello'

In [29]:
k.kk

'hello'